/* 祛除默认样式 */
ol, ul {
	list-style: none;
}
a,
a:link {
	text-decoration: none;
}
/* clearfix */
* html .clearfix {
    zoom: 1;
}

*+html .clearfix {
    zoom: 1;
}

.clearfix:after {
height: 0;
visibility: hidden;
content: ".";
display: block;
clear: both;
}
/*  */
.nav-width {
	margin: 0 auto;
	width: 1200px;
}
.nav{
    background-color:#333333;
    width: 100%;
    height:56px;
}
.nav li{
    float: right;
}
.nav li a{
    width: 100px;
	display: block;
	color: #AA9E15;
	font-size: 16px;
	text-align: center;
	height: 56px;
	line-height: 56px;
}
.nav li a:hover{
    background: #F6CC07;
    color:#4C3E02;
}