<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue学习-指令</title>
    <style>
        p{
            color:red;
        }
    </style>
</head>
<body>
    <p>指令 v-else</p>
    <div id="app">
        <div v-if="Math.random() > 0.5">
            Now you see me
        </div>
        <div v-else>
            Now you don't
        </div> 

        <div v-if="num==10">
            num = {{num}}
        </div>
        <div v-else>
            num != 10
        </div>        
    </div>
</body>
<script src="../script/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#app',
        data:{
            num:10
        }
    });
</script>
</html>