<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能社vue练习</title>
</head>
<body>
    <!-- v-model 双向数据绑定 -->
    <div id="box">
        <input type="text" name="" id="" v-model="msg">
        {{msg}}<br>
        <input type="text" name="" id="" v-model="msg2">
        {{msg2}}<br>
        {{msg3}}<br>
        {{arr}}<br>
        {{json}}
        <br>
        <!-- v-for 循环 -->
        <ul>
            <li v-for="item in arr">{{item}}</li>
        </ul>
        <ul>
            <li v-for="item in json">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,key,index) in json">{{index}}. {{key}}: {{item}}</li>
        </ul>
        <!-- 事件  -->
        <input type="button" value="单击" v-on:click="show()">
        <input type="button" value="单击+1" v-on:click="add()">
        <br>
        <input type="button" value="移出+1" v-on:mouseout="add()">
        <input type="button" value="移入+1" v-on:mouseover="add()">
        <br>
        <input type="button" value="双击+1" v-on:dblclick="add()">
        <br>

        <button type="button" v-on:click="change()">隐藏 v-on:click="" 关于v-show=""</button>
        <button type="button" @click="change">隐藏2 @click="" 关于v-show=""</button>
        <button type="button" @click="flag=false">隐藏3 v-on:click="flag=false" 关于v-show=""</button>
        <div style="width:100px;height:100px;background: black" v-show="flag"></div>

        <br>
        <div v-bind:class="classObject">2131313</div>
        <div v-bind:class="[activeClass, errorClass]">sdasdsadad</div>
    </div>
</body>
<script type="text/javascript" src="../script/vue.js"></script>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script>
    var vm = new Vue({
        el:'#box',//选择器
        data:{
            msg:'hello vue!',
            msg2:2018,
            msg3:true,
            arr:["zhao","shou","xin"],
            json:{
                name:"zhaoshouxin",
                age:18,
                sex:"男"
            },
            activeClass: 'active',
            errorClass: 'text-danger',
            /*  */
            isActive: true,
            error: null,
            flag: true
        },
        methods:{
            show:function(){
                alert('2333');
            },
            add:function(){
                this.arr.push('zhaoshouxin');
                // this.arr.shift('zhaoshouxin');
                // this.arr.unshift('zhaoshouxin');
            },
            change(){
                this.flag = !this.flag;
            }
        },
        computed: {
            classObject: function () {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        }
    });
</script>
</html>