<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能社vue练习</title>
</head>
<body>
    <!-- v-model 双向数据绑定 -->
    <div id="box">
        <input type="text" name="" id="" v-model="msg">
        {{msg}}<br>
        <input type="text" name="" id="" v-model="msg2">
        {{msg2}}<br>
        {{msg3}}<br>
        {{arr}}<br>
        {{json}}
        <br>
        <!-- 循环 -->
        <ul>
            <li v-for="item in arr">{{item}}</li>
        </ul>
        <ul>
            <li v-for="item in json">{{item}}</li>
        </ul>
        <ul>
            <li v-for="(item,key,index) in json">{{index}}. {{key}}: {{item}}</li>
        </ul>

        <div v-bind:class="classObject">2131313</div>
        <div v-bind:class="[activeClass, errorClass]">sdasdsadad</div>
    </div>
</body>
<script type="text/javascript" src="../script/vue.js"></script>
<script>
    var vm = new Vue({
        el:'#box',//选择器
        data:{
            msg:'hello vue!',
            msg2:2018,
            msg3:true,
            arr:["zhao","shou","xin"],
            json:{
                name:"zhaoshouxin",
                age:18,
                sex:"男"
            },
            activeClass: 'active',
            errorClass: 'text-danger',
            /*  */
            isActive: true,
            error: null
        },
        computed: {
            classObject: function () {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        }
    });
</script>
</html>