/*满屏*/
body{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #fff;
}



/*分类大盒子*/
.jd_category{
    height: 100%;
    width: 100%;
    padding-top: 45px;
    position: relative;
}
/*左盒子*/
.jd_category_left{
    width: 90px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 45px;
    z-index: 999;
}
.jd_category_left .jd_category_left_box{
    width: 90px;
}
.jd_category_left .jd_category_left_box ul{

}
.jd_category_left .jd_category_left_box ul li{
    height: 50px;
    width: 90px;
    background: #f3f4f6;
    font-size: 12px;
    font-family: sans-serif;
}
.jd_category_left .jd_category_left_box ul li a{
    height: 50px;
    width: 90px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}
.jd_category_left .jd_category_left_box ul li.now{
    background: #fff;
}
.jd_category_left .jd_category_left_box ul li.now a{
    border-right: none;
    color: #f15353;
}


/*右边的*/
.jd_category_right{
    width: 100%;
    padding-left: 90px;
    height: 100%;
    overflow: hidden;
}
.jd_category_right .jd_category_right_box{
    padding: 10px 12px;
}
.jd_category_right .jd_category_right_box .r_banner{
    width: 100%;
}
.jd_category_right .jd_category_right_box .r_banner a img{
    width: 100%;
}
/*分类*/
.jd_category_right .jd_category_right_box .r_product{
    margin-top: 20px;
    font-size: 12px;
}
.jd_category_right .jd_category_right_box .r_product h3{
    color: #888;
    margin-bottom: 10px;
}
.jd_category_right .jd_category_right_box .r_product ul li{
    width: 33.333%;
    text-align: center;
    float: left;
}
.jd_category_right .jd_category_right_box .r_product ul li img{
    display: block;
    width: 62px;
    height: 62px;
    margin:  0 auto;
}
.jd_category_right .jd_category_right_box .r_product ul li p{
    line-height: 30px;
}





