li {
  list-style-type: none;
  position: relative;
  margin: 2px;
  padding: 0.5em 0.5em 0.5em 2em;
  background: lightgrey;
  font-family: sans-serif;
}

li.done {
  background: #CCFF99;
}

/* 实现符号 √  */
li.done::before {
  content: '';
  position: absolute;
  border-color: #009933;
  border-style: solid;
  /* 只显示 右边和下边 */
  border-width: 0 0.3em 0.25em 0;
  height: 1em;
  top: 1.3em;
  left: 0.6em;
  margin-top: -1em;
  /* 旋转 实现√号 */
  transform: rotate(45deg);
  width: 0.5em;
}