@charset "utf-8";
/*------------------------------------------------------------
	
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	background: transparent;
	border: 0;
	outline: 0;

	font-size: 1em;
}

body {
	font-size: 62.5%;
}
* {
	box-sizing: border-box;
}
body,
table,
input, textarea, select, option {
	font-family: "Microsoft Yahei";
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary {
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

img {
	vertical-align: top;
}

/*------------------------------------------------------------
	
------------------------------------------------------------*/
	* html .clearfix {
		zoom: 1;
	}

	*+html .clearfix {
		zoom: 1;
	}

.clearfix:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}

a,
a:link {
	color: #403F46;
	text-decoration: none;
}

a:hover {
	color: #737373;
}

/*------------------------------------------------------------
	
------------------------------------------------------------*/
body {
	color: #403F46;
	font-size: 14px;
	line-height: 1.5;
	text-size-adjust: none;
	-webkit-text-size-adjust: none;
	background-color: #FFF;
	min-width: 1420px;
}

#container {
	padding: 103px 15px 15px;
	text-align: left;
}
#header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 88px;
	background: #333333;
	z-index: 100;
}
#gNavi {
	padding: 0 15px;
	float: right;
}
#gNavi li {
	float: left;
	padding: 0 25px;
}
#gNavi li a {
	position: relative;
	padding: 0 10px;
	display: block;
	color: #FFEB00;
	font-size: 20px;
	line-height: 80px;
	padding-top: 8px;
}
#gNavi li a span {
	display: block;
	position: relative;
	z-index: 1;
}
#gNavi li.current a {
	color: #000000;
}
#gNavi li.current a:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 90px;
	background: url(../img/navi_bg.jpg) repeat-x;
}

/*------------------------------------------------------------
	sec02
------------------------------------------------------------*/

.arrow {
	position: absolute;
	top: 50%;
	width: 46px;
    height: 100px;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	/* 鼠标指针放在一个元素边界范围内时所用的光标形状 */
	cursor: pointer;
	z-index: 5;
}
.arrow.prev {
	left: 0;
	background: url(../img/arrow_prev.png) no-repeat left center;
}
.arrow.next {
	right: 0;
	background: url(../img/arrow_next.png) no-repeat right center;
}
.pagination {
	position: absolute;
	left: 0;
	bottom: 10px;
	width: 100%;
	text-align: center;
	z-index: 10;
}
.pagination .swiper-pagination-bullet {
	margin: 0 2px !important;
	width: 26px;
	height: 26px;
    cursor: pointer;
	border: 3px solid #3F3F44;
	background: #3F3F44;
	opacity: 1;
	border-radius: 0;
}
.pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background: #FFEB00;
}

.comTitle {
	position: relative;
	margin-bottom: 25px;
	text-align: center;
}
.comTitle .title  {
	position: relative;
	display: inline-block;
	min-width: 165px;
	padding: 0 10px;
	color: #FFEB00;
	font-size: 24px;
	line-height: 44px;
	font-weight: normal;
	text-align: center;
	background: #403F46;
	z-index: 2;
}
.comTitle.line:before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	background: #CBCBCB;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 0;
}
.comTitle.line .title:before,
.comTitle.line .title:after {
	content: "";
	position: absolute;
	top: 0;
	width: 30px;
	height: 100%;
	background: #F6F6F6;
	z-index: 2;
}
.comTitle.line .title:before {
	right: 100%;
}
.comTitle.line .title:after {
	left: 100%;
}
.comText {
	margin-bottom: 20px;
	font-size: 25px;
	color: #403F46;
	text-align: center;
}
/*------------------------------------------------------------
	sec02
------------------------------------------------------------*/
.sec02 {
	padding: 36px 0 0 0;
	background: #F6F6F6;
}
.sec02 .photoList {
	background: #FFF;
	padding: 38px 0;
}
.sec02 .grid li {
	width: 16.6666%;
}
.sec02 .grid li.wide {
	width: 33.3333%;
}
.sec02 .grid li div {
	padding: 2px;
}
.sec02 .grid li img {
	width: 100%;
	height: auto;
}
/*------------------------------------------------------------
	sec03
------------------------------------------------------------*/
.sec03 {
	padding: 50px 0 120px;
	background: #F6F6F6;
}
.sec03 .comTitle {
	margin-bottom: 20px;
}
.sec03 .comText {
	margin-bottom: 25px;
}
.sec03 .brandSlider {
	padding: 0 80px;
	position: relative;
}
.sec03 .brandSlider .swiper-slide {
	width: 136px;
}

/*------------------------------------------------------------
	sec01
------------------------------------------------------------*/
.functionContainer{
	background: #f6cc07; 
}
.f_center{
	width: 1200px;
	margin: 0 auto;
}
.f_top{
	text-align: center;
}
.f_bottom1 {
	width: 1030px;
	margin: 0 auto;
	height: 78px;
	padding: 0px 20px 0px 20px;
	margin-bottom: 113px;
	margin-top: 60px;
}
.f_bottom2 {
	width: 1030px;
	margin: 0 auto;
	height: 138px;
	padding: 0px 20px 0px 20px;
}
.ulone {
	width: 330px;
	float: left;
	height: 100%;
}
.ultwo {
	width: 400px;
	float: left;
	height: 100%;
}
.imgFun{
	float: left;
	width: 50px;
	height: 100%;
}
.imgFun img{
	width: 100%;
	padding-top: 8px;
}
.f_text{
	float: left;
	width: 273px;
	padding-left: 10px;
	padding-right: 10px;
}
.f_text1{
	font-size: 20px;
	font-weight: bold;
}
.f_text2{
	font-size: 14px;
	line-height: 24px;
}
.f_toptxt{ 
	font-size: 20px;
}
.f_topimg1{
	padding-top: 35px;
}
.f_topimg2{
	padding: 20px 0 20px 0;
}
/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer{
	/*height: 571px;*/
	color: #fff;
}

#footer dl:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#footer ul:after {
	height: 0;
	visibility: hidden;
	content: ".";
	display: block;
	clear: both;
}
#footer #box{
	padding: 30px 0;
	background: #3f3f44;
}
#footer .foInner{
	width: 1413px;
	margin:0 auto;
}
#footer ul li{
	float: left;
}
#footer .foInner li .title{
	padding-bottom: 20px;
	font-size:15px;
}
#footer .foInner .foLeft{
	width: 420px;
}
#footer .foInner .foLeft .the{
	width: 120px;
	height: 40px;
	font-size:16px;
	text-align: center;
	background: #000;
	line-height: 40px;
	border-bottom: 2px solid #ffeb00;
}
#footer .foInner .foLeft .tit{
	padding: 40px 0 20px;
	font-size:14px;
}
#footer .foInner .foLeft .about{
	font-size:15px;
	padding: 0 0 37px;
}
#footer span{
	color: #ffeb00;
}
#footer .foInner .foLeft ul li{
	float:left;
	width: 130px;
	margin-right:5px;
	margin-bottom:5px;
}
#footer .foInner .foCenter{
	width: 460px;
	margin: 0 110px 0 80px;
}
#footer .foInner .foCenter dl{
	margin-bottom:25px;
}
#footer .foInner .foCenter dl dt{
	float: left;
	margin-right: 10px;
}
#footer .foInner .foCenter >ul{
	margin-top:49px;
}
#footer .foInner .foCenter >ul li{
	float: left;
	margin-right: 2px;
}
#footer> .foInner .foCenter >ul li img{
	width: 30px;	
} 
#footer> .foInner .foCenter >ul li.frist{
	padding-right: 10px;
	font-size:16px;
}

#footer .foInner .foRight{
	width: 340px;
}
#footer .foInner .foRight dl{
	margin-top:17px;
}
#footer .foInner .foRight dl dt{
	float:left;
	margin-right: 15px;
}
#footer .foRight dl dd{
	font-size:14px;
	font-weight: 600;
}
#footer .foInner .foRight .maBox b{
	padding: 25px 0;
	display: block;
}
#footer .foInner .foRight .maBox .img{
	margin-top:10px;
}
#footer .foInner .foRight .maBox .img img{
	width: 145px;
	margin-right:20px;
}
#footer .copyright{
	height: 70px;
	line-height: 70px;
	font-weight: bold;
	font-style: 16px;
	background: #000;
	text-align: center;
}
#footer .copyright span {
	font-size:14px;
}




