<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>Hello APP</title>
    <link rel="stylesheet" type="text/css" href="./css/api.css" />
    <style type="text/css">
    </style>
</head>
<body>
    <div class="app">
  		{{ message }}
	</div>
	<!--指令带有前缀 v- -->
	<div id="app-2">
		<span v-bind:title="message">
			鼠标悬停几秒钟查看此处动态绑定的提示信息！
		</span>
	</div>
	<!--Vue 也提供一个强大的过渡效果系统，可以在 Vue 插入 / 更新 / 删除元素时自动应用过渡效果-->
	<div id="app-3">
		<p v-if="seen">现在你看到我了</p>
	</div>
	<!--v-for 指令可以绑定数组的数据来渲染一个项目列表-->
	<div id="app-4">
		<ol>
			<li v-for="todo in todos">
				{{todo.text}}
			</li>
		</ol>
	</div>
	<!-- v-on 指令绑定一个事件监听器 -->
	<div id="app-5">
		<p>{{message}}</p>
		<button v-on:click="reverseMessage"></button>
	</div>
	<!-- v-model 指令 -->
	<div id="app-6">
		<p>{{message}}</p>
		<input v-model="message">
	</div>
	<!-- 组件化应用构建 -->
	<div id="app-7">
		<ol>
			<!--为每个 todo-item 提供 todo 对象
				todo 对象是变量，即其内容可以是动态的
				为每个组件提供一个“key”
			-->
			<todo-item
				v-for="item in groceryList"
			    v-bind:todo="item"
			    v-bind:key="item.id">
			</todo-item>
		</ol>
	</div>
</body>
<script type="text/javascript" src="./script/vue.js"></script>
<script type="text/javascript">
	/**
	 * [声明式渲染]
	 * @type {Vue}
	 */
	var app = new Vue({
		el: '.app',
		data: {
		  message: 'Hello Vue!'
		}
	})
	var app2 = new Vue({
		el:'#app-2',
		data:{
			message:'页面加载于'+new Date().toLocaleString()
		}
	})
	/**
	 * 条件与循环
	 */
	var app3 = new Vue({
		el:'#app-3',
		data:{
			seen:true
		}
	})
	var app4 = new Vue({
		el:'#app-4',
		data:{
			todos:[
				{text:'学习 JavaScript'},
				{text:'学习 Vue'},
				{text:'学习 Node'}
			]
		}
	})
	/**
	 * 处理用户输入
	 *
	/*
	split()用于把一个字符串分割成字符串数组
	reverse()用于颠倒数组中元素的顺序
	join()用于把数组中的所有元素转换一个字符串
	 */
	var app5 = new Vue({
		el:'#app-5',
		data:{
			message:'123456789'
		},
		methods:{
			reverseMessage:function(){
				this.message = this.message.split('').reverse().join('')
			}
		}
	})
	/*
	
	 */
	var app6 = new Vue({
		el:'#app-6',
		data:{
			message:'hello vue!'
		}
	})
	/*
	组件化应用构建
	 */
	Vue.component('todo-item', {
	  props: ['todo'],
	  template: '<li>{{ todo.text }}</li>'
	})
	var app7 = new Vue({
	  el: '#app-7',
	  data: {
	    groceryList: [
	      { id: 0, text: '蔬菜' },
	      { id: 1, text: '奶酪' },
	      { id: 2, text: '随便其他什么人吃的东西' }
	    ]
	  }
	})
</script>
</html>