.title{
            text-align: center;
            font-size:20px;
            color:red;
        }
        .title-item{
            text-align: center;
            font-size:10px;
            color:black;
        }
        .father{
            background-color:#bababa;
            /* -webkit-padding-after:5px; */
            margin-bottom:5px;
        }
        .children{
            background-color: #fff;
            border:1px solid red;
        }
        /* Ⅰ 水平居中 */
        /* 使用 inline-block 和 text-align 实现 */
        .row1{
            text-align: center;
        }
        .row1-children{
            display: inline-block;
        }

        /* 使用 margin:0 auto 来实现 */
        .row2-children{
            width:200px;
            margin:0 auto;
        }

        /* 使用table实现 */
        .row3-children{
            display:table;
            margin:0 auto;
        }

        /* 使用定位实现 */
        .row4{
            position: relative;
        }
        .row4-children{
            position: absolute;
            left:50%;
            transform:translate(-50%);
            background:red;
        }

        /* 使用flex */
        .row5{
            display:flex;
            justify-content:center;
            background:red;
            margin-top:30px;
        }
        .row6{
            display: flex;
        }
        .row6-children{
            margin:0 auto;
        }

        /* Ⅱ 垂直居中 */
        .col-father{
            background-color:#ff0000;
        }
        /* 1 */
        .col1{
            display:table-cell;
            vertical-align:middle;
            height:30px;
        }
        /* 2 */
        .col2{
            display:inline-block;
            vertical-align:middle;
            /* line-height:30px; */
        }
        /* 3 使用定位 */
        .col3{
            position:relative;
            margin-top:10px;
        }
        .col3-children{
            position: absolute;
            top:50%;
            /* transform: translate(0,-50%); */
            transform: translateY(-50%);
            background-color: green;
        }
        /* flex */
        .col4{
            display:flex;
            align-items:center;
            margin-top:20px;
        }
        
        /* Ⅲ 水平垂直居中 */
        /* 1 */
        .row-col1-father{
            display:table-cell;
            text-align: center;
            vertical-align:middle;
        }
        .row-col1-children{
            display:inline-block;
        }
        /* 2 */
        .row-col2-father{
            position: relative;
        }
        .row-col2-children{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
        }
        /* 3 */
        .row-col3-father{
            display:flex;
            justify-content:center;
            align-items:middle;
            margin-top:10px;
        }
        /* 多列布局 */
        /* 左列定宽，右列自适应 */
         /* 01 float + margin实现 */
        .left-const-left1{
            float: left;
            width:100px;
        }
        .left-const .left{
            background-color: #ff0000;
        }
        .left-const-right1{
            margin-left:100px;
        }
        .left-const .right{
            background-color: #fff000;
        }
        /* 02 float + margin(fix) 实现 */
        .left-const-left2{
            float: left;
            width:100px;
            background-color: #ff0000;
        }
        .left-const-right2{
            width:100%;
            float:right;
            margin-left:-100px;
        }
        .left-const-right2 .right{
            margin-left:100px;
            background-color: #fff000;
        }
        /* 03 float +　overflow实现*/
        .left-const{
            overflow:hidden;
        }
        .left-const-left3{
            float:left;
            width:100px;
            background-color: #ff0000;
        }
        .left-const-right3{
            overflow: hidden;
            background-color: #fff000;
        }
        .left-const-left3,.left-const-right3{
            padding-bottom:9999px;
            margin-bottom:-9999px;
        }
        /* 04 使用table实现*/
        .left-const4{
            display: table;
            table-layout: fixed;
            width:100%;
        }
        .left-const-left4{
            display: table-cell;
            width:100px;
            background-color: #ff0000;
        }
        .left-const-right4{
            display: table-cell;
            background-color: #fff000;
        }
        /* 05 flex实现 */
        .left-const5{
            display:flex;
        }
        .left-const-left5{
            width:100px;
            background-color: #ff0000;
        }
        .left-const-right5{
            flex:1;
            background-color: #fff000;
        }
        /* 右列定宽，左列自适应 */
        /* 01 float+margin 实现 */
        .right-const1{
            /* 没有高度将不显示 任何内容 */
             height:100px;
             margin:0 auto;
             background-color: #ff0000;
        }
        .right-const-left1{
            margin-right:-100px;
            width:100%;
            float:left;
            background:green;
        }
        .right-const-right1{
            /* 右浮动 固定宽度 */
            float:right;
            width:100px;
            background:blue;
        }
        /* 02 使用table实现 */
        .right-const2{
            display:table;
            table-layout:fixed;
            width:100%;
        }
        .right-const-left2{
            display:table-cell;
            background:green;
        }
        .right-const-right2{
            width:100px;
            display:table-cell;
            background:red;
        }
        /* 03 felx实现 */
        .right-const3{
            display:flex;
        }
        .right-const-left3{
            flex:1;
        }
        .right-const-right3{
            width:100px;
        }