 <widget id="A6976471646740"  version="0.0.1">
    <name>Hello APP</name>
    <description>
        Example For APICloud.
    </description>
    <author email="developer@apicloud.com" href="http://www.apicloud.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="pageBounce" value="false"/>
	<feature name="ajpush">
		<param name="channel" value="developer-apicloud" /> 
		<param name="app_key" value="your app key" /> 
	</feature>

</widget>